.artists{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-bottom: 100px;
    background: linear-gradient( to bottom, rgb(32, 14, 37), rgba(0, 0, 0, 0.973 ) );
    
}
.artist_body{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 7em;
}
.image_flex{
    display: flex;
    gap: 2em;
}
.artist-image{
    text-align: center;
}
.artist-image > img{
    width: 20vw;
    border: 3px solid white;
    border-radius: 150px;
}
.artist-image > img:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05) !important;
    cursor: pointer;
}
