.myplaylist{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100vh;
    position: sticky;
    background: linear-gradient( to bottom, rgb(32, 14, 37), rgba(0, 0, 0, 0.973 ) );
    text-align: center;
}
.createPlayList{
    background-color: rgb(107, 45, 126);
    color: whitesmoke;
    width: 30%;
    font-size: 1.5em;
    cursor: pointer;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 0.6em;
    
}
.createPlayList:hover{
    background-color: rgb(58, 25, 68); 
    transition-duration: 0.2s;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.1) !important;
}